
body{
    margin: 0;
    width: 1464.8px;
    height: 4836.21px;
    overflow-x: hidden;
    background-color: #EA002A;
}
.header{
    width: 1464.8px;
    height:88px ;
    background-color: #EA002A;
    position: fixed;
    box-shadow: 0 0.25em 0 rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    z-index: 6;
}
.container{
    width: 100%;
    height: 4325px;
    background-color: whi;
    box-shadow: 0 0.25em 0 rgba(0,0,0,0.2);
}
.logo{
    width: 62px;
    height: 79px;
    margin-left: 7px;
    margin-top: 2px;
}
.header_text1{
    color: white;
    border: none;
    width: 129px;
    margin-top: 30px;
}
.header_text1:hover{
    background-color: #c10c1a;
}
.header_text{
    background-color: #EA002A;
    font-family: Pinup,arial,"Helvetica Neue";
    font-weight: 900;
    font-size: 17px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header_text2:hover{
    background-color: #c10c1a;
    width: 221px;
}
.header_text2{
    width: 221px;
}
.header_text3:hover{
    background-color: #c10c1a;
    width: 137px;
}
.header_text3{
    width: 137px;
}
.header_text4:hover{
    background-color: #c10c1a;
    width: 63px;
}
.header_text4{
    width: 63px;
}
.header_text5:hover{
    background-color: #c10c1a;
    width: 140px;
}
.header_text5{
    width: 140px;
}
.header_text6:hover{
    background-color: #c10c1a;
    width: 185px;
}
.header_text6{
    width: 185px;
}
.header_text7:hover{
    background-color: #c10c1a;
    width: 172px;
}
.header_text7{
    width: 172px;
}
.header_tags{
    font-size: 25px;
    width: 36px;;
}
.space{
    width: 110px;
}
.quote{
    z-index: 0;
    position: absolute;
    top: 157px;
    left: 658px;
    font-size: 33px;
    text-align: center;
    font-family: 'Lilita One', sans-serif;
    color: white;
    font-weight: 800;
}
.container1{
    background-color: #EA002A;
    width: 1464.8px;
    height: 582px;
}
h2{
    text-shadow: 0.04em 0.04em 0em #fdc71f;
    font-family: 'Pinup',Arial,'Helvetica Neue',Helvetica,sans-serif;
    font-size: calc(1em + 11vw);
    color: #fff;
    margin-left: 192px;
    font-weight: 900;
}
h2 span{
    display: inline-block;
    font-size: 43px;
    width: 50%;
    white-space: pre-wrap;
    text-align: left;
    vertical-align: top;
    text-shadow: none;
    margin-top: 1.2em;
}
h3{
    color: #fdc71f;
    font-size: 2em;
    text-align: center;
    font-family: 'Pinup',Arial,'Helvetica Neue',Helvetica,sans-serif;
}
.p_text_container1{
    color: #fff;
    font-size: 18px;
    font-family: 'Pinup',Arial,'Helvetica Neue',Helvetica,sans-serif;
    text-align: center;
    font-weight: 900;
}
.container2{
    width: 1464.8px;
    background-color: #ffc533;
    height: 703.74px;
}
.con2_text1{
    padding-bottom: 0;
    font-weight: bold;
    font-size: 1.5em;
    color: #EA002A;
    margin-left: 340px;
    padding-top: 231px;
    font-family: Pinup,arial,"Helvetica Neue";
    width: 213px;
}
.con2_text2{
    color: #fff;
    text-shadow: 0.1em 0.1em 0 #EA002A;
    font-size: 47px;
    margin-left: 156px;
    margin-top: 2px;
    width: 561px;
    text-align: center;
    font-weight: 900;   
}
.button{
    font-size: 20px;
    background-color: #EA002A;
    margin-left: 202px;
    border: none;
    color: #fff;
    font-weight: 900;
    font-family: 'Pinup',Arial,'Helvetica Neue',Helvetica,sans-serif;
    box-shadow: 0.25em 0.25em 0 #fff;
    padding: 0.75em 8em 0.6em;
}
.tiktok{
    width: 505px;
    float: right;
    margin-top: -337px;
    margin-right: -59px;
}
.container3{
    width: 1464.8px;
    height: 1733px;
    background-color: #fff;
    padding-top: 9vw;
    filter: drop-shadow(0 -0.25em 0 rgba(0,0,0,0.2));
}
.footer{
    width: 1464.8px;
    height: 489px;
    background-color: #EA002A;   
}
.p_head1{
    text-align: center;
    color: #EA002A;
    font-size: 35px;
    margin-top: -3px;
    font-weight: 900;
    font-family: 'Pinup',Arial,'Helvetica Neue',Helvetica,sans-serif;
}
.box_row{
    justify-content: center;
    display: flex;
}
.box_row1{
    height:525.58px ;
}
.box_row2{
    height: 527.88px;
}
.box_row3{
    height: 547.58px;
}
.box{
    width: 390px;
    background-color: #fff;
    margin: 0px;
    display: flex;
    flex-direction: column;
    cursor: pointer; 
}
.box_text1{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 900;
    font-family: 'Pinup',Arial,'Helvetica Neue',Helvetica,sans-serif;
    color: #EA002A;
}
.box_text2{
    font-size: 1.125em;
    text-align: center;
    font-family: sans-serif;
}
.box_button{
    font-size: 20px;
    font-weight: 900;
    width: 305px;
    margin-left: 45px;
    height: 55px;
    border: none;
    color: white;
    background-color: #EA002A;
    box-shadow: 0.25em 0.25em 0 rgba(0,0,0,0.2);
}
.container4{
    width: 1464.8px;
    background-color: #fff;
    height: 638.33px;
    display: flex;
}
.con4_box_img{
    width: 555px;
    margin-left: 150px;
    margin-top: 57px;
    height: 462px;
}
.con4_box_img2{
    width: 555px;
    margin-top: 57px;
}
.footer_logo{
    width: 455px;
    height: 120px;
    margin-top: 73px;
    cursor: pointer;
}
.footer_text{
    width: 1491.8px;
    height: 43.8px;
    display: flex;
    justify-content: space-evenly;
    margin-left: -29px;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 600;
}
.links{
    text-decoration: none;
    color: #fff;
}
.links2{
    color: white;
}
.footer_text2{
    margin-left: -44px;
}
.social_icons{
    height: 48px;
    width: 607px;
    margin-left: 378px;
    margin-top: 8px;
    text-align: center;
    font-size: 34px;
    margin-top: 33px;
    cursor: pointer;
}
.social_icons i{
    padding-right: 20px;    
}
.copyright{
    width: 329px;
    margin-left: 516px;
}
.footer_links{
    width: 921px;
    height: 42px;
    margin-left: 243px;
    display: flex;
    color: #fff;
    justify-content: space-evenly;
    font-size: 18px;
}
.play_button{
    position: absolute;
    z-index: 5;
    top: 180px;
    display: block;
    font-size: 120px;
    left: 400px;
}
.footer_cut_left{
    width: 732px;
    height: 143px;
    transform: rotate(10deg);
    margin-top: -78px;
    background-color: white;
}
.footer_cut_right{
    width: 837px;
    height: 143px;
    transform: rotate(-9deg);
    margin-left: 692px;
    margin-top: -145px;
    background-color: white;
}
.home_cut_left{
    width: 828px;
    height: 143px;
    background-color: #EA002A;
    margin-top: -76px;
    margin-left: -39px;
    transform: rotate(10deg);
}
.home_cut_right{
    width: 828px;
    height: 143px;
    background-color: #EA002A;
    margin-top: -148px;
    margin-left: 699px;
    transform: rotate(-10deg);
}
.cut_con4_left1{
    width: 380px;
    height: 76px;
    position: absolute;
    margin-left: 70px;
    margin-top: 26px;
    transform: rotate(-15deg);
    background-color: white;
}
.cut_con4_right1{
    width: 328px;
    height: 76px;
    margin-top: 19px;
    margin-left: 392px;
    position: absolute;
    transform: rotate(15deg);
    background-color: white;
}
.cut_con4_left2{
    width: 292px;
    height: 77px;
    position: absolute;
    margin-left: 691px;
    margin-top: 22px;
    transform: rotate(-15deg);
    background-color: white;
}
.cut_con4_right2{
    width: 328px;
    height: 83px;
    margin-top: 22px;
    margin-left: 958px;
    position: absolute;
    transform: rotate(15deg);
    background-color: white;

}
.decor:hover{
    box-sizing:content-box;
    cursor: pointer;
}
.box_button1{
    font-size: 20px;
    font-weight: 900;
    width: 305px;
    margin-left: -980px;
    margin-top: 491px;
    border: none;
    height: 55px;
    color: white;
    background-color: #EA002A;
    box-shadow: 0.25em 0.25em 0 rgba(0,0,0,0.2);
}
.box_button2{
    font-size: 20px;
    font-weight: 900;
    width: 305px;
    margin-left: -424px;
    margin-top: 491px;
    border: none;
    height: 55px;
    color: white;
    background-color: #EA002A;
    box-shadow: 0.25em 0.25em 0 rgba(0,0,0,0.2);
}
.links:hover{
    text-decoration: underline;
}